body {
    background-color: rgb(250, 250, 250);
}

.App {
    width: 750px;
    margin: auto;
    margin-top: 40px;
}

/* Login */

.Login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Login_input:first-child {
    margin-bottom: 30px;
}

.Login_input {
    border: 1px solid #ececec;
    padding : 10px;
    background-color: white;
    font-size: 15px;
    width: 100%;
}

.Login_signUp_form {
    border: 1px solid #ececec;
    padding : 10px;
    background-color: white;
    margin: 10px;
    
}

.Login_photo{
    width: 330px;
    margin-top: 30px;
}

.Login form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Login_form input {
    background-color: rgb(250, 250, 250);
    padding:10px;
    overflow: hidden;
    border: 1px solid #ecececeb;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
}

.Login_submit {
    cursor: pointer;
}

.Login_btns button{
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.Login_logo {
    width: 250px;
}

.Login_signUp {
    border: none;
    background-color: white;
    border-bottom: 1px solid gray;
    cursor: pointer;
    font-size: 15px;
}

/* Home */

.Home_container {
    text-align: center;
    align-items: center;
}

.Home .Home_file {
    align-items: center;
}

.Home_input_text {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ecececeb;
}

.Home_input_submit{
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ecececeb;
}

.Home_nsta {
    margin-bottom: 20px;
}

/* Navigation */

nav {
    display: flex;
    justify-content: center;
    padding: 10px
}

nav a {
    text-align: center;
}

/* Nsta */

.Nsta{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    background-color: white;
    border: 1px solid #ecececeb;
    border-radius: 5px;
}

/* Profile */

.Profile_input {
    padding: 10px;
    width: 30%;
    background-color: white;
    border: 1px solid #ecececeb;
    border-radius: 5px;
    margin: 10px;
}

.Profile_submit{
    padding: 10px;
    width: 20%;
    background-color: #74d574;
    border: 1px solid #ecececeb;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.Profile_logout {
    padding: 10px;
    width: 20%;
    background-color: #fd565f;
    border: 1px solid #ecececeb;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}